# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/
env/
.venv/

# Ignore data directory
data/*
src/data/*

# Ignore trained model files
resnet50_*.pth

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log 